body {
    background-color:rgb(38, 37, 37);
    color:white;
    padding:5px;
    font-family: Helvetica,Arial, sans-serif;
    font-size:1.3rem;
}

.counter {
    text-align: center;
}

button {
    padding:15px;
    background-color: cadetblue;
    font-size: 1.3rem;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px black;
}
button:hover {
    background-color: rgba(95, 158, 160, 0.748);
    box-shadow: 0px 0px black;
}
button:active {
    background-color: rgba(69, 113, 115, 0.748);
}

.flex-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
